# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. julia 
2. java
3. python
4. R
5. language

# Some of the commonly used libraries used by Data Scientists include: 
1. pandas
2. numpy
3. Matplotlib,
4.  Seaborn

|
Data Science Tool|
|:-----------------|
|
Mongo         | 
| B
Apa he Spark |
| QL
Tensor      |FlowFlow

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

| objective: |
|:-----------|
|python|
|R|
|SQL|

# Author 
## mansour